.nav_list {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  background-color: var(--background_color);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
