@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

@import "reset.css";

@import "welcome.css";

@import "status-bar.css";

@import "variable.css";

@import "friends.css";

@import "nav.css";

html {
  font-family: "Quicksand", sans-serif;
}

main {
  padding: 20px;
}

header {
  padding: 30px;
  margin-top: 10px;
}
